********************************************************
*                                                      *
* DRILL TAPE SUMMARY REPORT                            *
*                                                      *
* C:\USERS\INAVA\DESKTOP\TEMPERATURA\OROLOGIOFINE.MAX  *
* Tue Apr 17 17:28:30 2018                             *
*                                                      *
********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       315      26       200      100                                                                                 
T2       320      210      200      100                                                                                 
